* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'poppins', sans-serif;
  background: linear-gradient( to bottom, #5a419b3e, #222222 ), url("./Assets/images/1.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  color: white;
  height: 100%;
<<<<<<< HEAD
  min-height: 100vh;
=======
  /* backdrop-filter: blur(6px); */
}

.App{
  height: 100%;
>>>>>>> ca3e206dfefa1c857e99047fb546041c125c5a52
}